.Column-main {
  border: 1px solid black;
  width: 400px;
  min-width: 400px;
  height: 710px;
  border: 1px solid rgb(216, 214, 214);
  border-radius: 4px;
  background-color: #f6f8fa;
  margin: 15px;
  overflow: hidden;
}

.Column-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  height: auto;
}

.Column-header__left-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
  width: 100px;
}

.Column-header-menu__title {
  font-weight: bold;
}

.Column-header__left-menu__badge {
  background-color: rgb(218, 214, 214);
  padding: 4px;
  border-radius: 12px;
}

.Column-header__right-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 8px;
  width: 85px;
}

.Column-scrollable {
  height: 640px;
  max-height: 640px;
  overflow: scroll;
}
